#!/usr/bin/make -f

PKGNAME=bigdata-install
PKGDIR=debian/tmp

%:
	dh $@

override_dh_install:
	mkdir -p $(PKGDIR)/usr/share/man/man1
	mkdir -p $(PKGDIR)/usr/bin
	cp bigdata-install $(PKGDIR)/usr/bin
	help2man $(PKGDIR)/usr/bin/$(PKGNAME) -n "apt install juju bundles" --no-info > $(PKGDIR)/usr/share/man/man1/$(PKGNAME).1
	dh_install
